<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Strona przykładowa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
    <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="nav-wrapper blue lighten-5">
            <ul class="left">
                <li><a class="waves-effect waves-light btn blue darken-2" onclick="goBack()"><i
                            class="material-icons">chevron_left</i></a></li>
            </ul>
            <div class="container">
                <a href="/list/" class="left brand-logo black-text">Strona główna</a>
                <ul class="right">
                    <li><a href="/admin/" class="waves-effect waves-light btn blue darken-2">Zaloguj się</a></li>
                </ul>

            </div>

        </div>
    </nav>
    <div class="container">
        {% block patient %} {% endblock patient %}
    </div>
    <script>
        function goBack() {
            if (window.location.href !== "http://127.0.0.1:8000/list/")
                window.history.back();
                if(window.location.href.indexOf("patient") > -1){
                    window.location.replace("http://127.0.0.1:8000/list/");
                }
        }
        if(window.location.href === "http://127.0.0.1:8000/list/"){
            sessionStorage.clear();
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>