{% extends 'main.html' %}
{% block studies %}
<table class="highlight">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Typ prześwietlenia</th>
            <th>Data</th>
            <th>Wiek</th>
            <th>Modalności</th>
            <th>Części ciała</th>
            <th>Szczegóły</th>
        </tr>
    </thead>

    <tbody>
        {% for studies in patient_studies %}
        <tr>
            <td>{{studies.name}}</td>
            <td>{{studies.xray_type}}</td>
            <td>{{studies.study_date}}</td>
            <td>{{studies.age}}</td>
            <td>{{studies.modalities}}</td>
            <td>{{studies.body_parts}}</td>
            <td> <a href=""><i class="material-icons">info</i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock studies %}