{% block timeline %}
<div>
    <div class="row card-panel">
        <form>
            <div class="col s3 form-group">
                <p>Typ badania (modalność)</p>
                <div class="row">
                  <input type="text" name="modality" id="modality">
                       <p>Dostępne modalności:
                            {% for modality in modalities %}
                                {% if modality == "" %}
                                {% else %}
                                    {{modality}}
                                {% endif %}
                           {% endfor %}
                       </p>
                </div>

<!--                <div class="row">-->
<!--                    <div class="input-field">-->
<!--                        <select multiple style="display: block;">-->
<!--                            {% for modality in modalities %}-->
<!--                                {% if modality == "" %}-->
<!--                                <option name="">(pusta modalność)</option>-->
<!--                                {% else %}-->
<!--                                <option name="{{modality}}">{{modality}}</option>-->
<!--                                {% endif %}-->
<!--                            {% endfor %}-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->


<!--                {% for modality in modalities %}-->
<!--                    {% if modality == "" %}-->
<!--                    <p>-->
<!--                        <label>-->
<!--                            <input type="checkbox" name="modalities" value="empty"/>-->
<!--                            <span class="black-text">(pusta modalność)</span>-->
<!--                        </label>-->
<!--                    </p>-->
<!--                    {% else %}-->
<!--                    <p>-->
<!--                        <label>-->
<!--                            <input type="checkbox" name="modalities" value="{{modality}}"/>-->
<!--                            <span class="black-text">{{modality}}</span>-->
<!--                        </label>-->
<!--                    </p>-->
<!--                    {% endif %}-->
<!--                {% endfor %}-->
<!--                <p>-->
<!--                    <label>-->
<!--                        <input type="checkbox" name="rtg" value="RTG" id="inputRtg" />-->
<!--                        <span class="blue-text text-lighten-1">RTG</span>-->
<!--                    </label>-->
<!--                </p>-->
<!--                <p>-->
<!--                    <label>-->
<!--                        <input type="checkbox" name="mri" value="MRI" id="inputMri" />-->
<!--                        <span class="red-text text-lighten-1">Rezonans</span>-->
<!--                    </label>-->
<!--                </p>-->
<!--                <p>-->
<!--                    <label>-->
<!--                        <input type="checkbox" name="other_xray" value="Other" id="inputOther" />-->
<!--                        <span class="green-text text-lighten-1">Inne</span>-->
<!--                    </label>-->
<!--                </p>-->
            </div>
            <div class="col s2">
                <p>Data początkowa</p>
                <input type="date" name="start_date" id="startDate">

            </div>
            <div class="col s2">
                <p>Data końcowa</p>
                <input type="date" name="end_date" id="endDate">
            </div>
            <div class="col s3">
                <p>Część ciała</p>
                <div class="row">
                    <input type="text" name="body_part" id="bodyPart">
                </div>
            </div>
            <div class="col s2 valign-wrapper">
                <ul>
                    <li><button class="btn waves-effect waves-light blue darken-2" type="submit" onclick="saveFilter()" name="action">Szukaj
                            <i class="material-icons right">search</i>
                        </button></li>

                </ul>

            </div>
        </form>
        <!-- <button class="btn waves-effect waves-light blue darken-2" id="check" onclick="printvalues()">Sprawdz
            <i class="material-icons right">search</i>
        </button> -->
    </div>
    <div class="row"></div>

    <div style="display:inline-block;width:100%;overflow-y:auto;padding-top:0;">
        <ul class="timeline timeline-horizontal">
            {% for studies in patient_studies %}
            <li class="timeline-item">
                <div class="timeline-badge blue darken-2"><i class="glyphicon glyphicon-check"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h5 class="timeline-title">{{studies.name}} <a href="/studies/{{studies.id}}"><i
                                    class="material-icons">info</i></a></h5>
                        <p><small class="text-muted"><i
                                    class="glyphicon glyphicon-time"></i>{{studies.study_date}}</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Wiek: {{studies.age}}</p>
                        <p>Modalność: {{studies.modalities}}</p>
                        <p>Część ciała: {{studies.body_parts}}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>
</div>
<!-- <script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.datepicker');
        var instances = M.Datepicker.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function () {
        $('.datepicker').datepicker();
    });
</script> -->
<script>
    // document.getElementById("check").click(printvalues)
    // function printvalues() {
    //     values = [
    //         $('#inputRtg').val(),
    //         $('#inputMri').val(),
    //         $('#inputOther').val(),
    //         $('#startDate').val(),
    //         $('#endDate').val(),
    //         $('#bodyPart').val()
    //     ]
    //     values.forEach(value => {
    //         console.log(value)
    //     });

    // }
    // window.onbeforeunload = function () {
    //     sessionStorage.setItem("rtg", $('#inputRtg').val());
    //     sessionStorage.setItem("mri", $('#inputMri').val());
    //     sessionStorage.setItem("other", $('#inputOther').val());
    //     sessionStorage.setItem("start", $('#start-date').val());
    //     sessionStorage.setItem("end", $('#end-date').val());
    //     sessionStorage.setItem("body", $('#body-part').val());
    // }
    // window.onload = function () {

    //     var inputRtg = sessionStorage.getItem("rtg");
    //     if (inputRtg !== null) $('#inputRtg').val(inputRtg);

    //     var inputMri = sessionStorage.getItem("mri");
    //     if (inputMri !== null) $('#inputMri').val(inputMri);

    //     var inputOther = sessionStorage.getItem("other");
    //     if (inputOther !== null) $('#inputOther').val(inputOther);

    //     var startDate = sessionStorage.getItem("start");
    //     if (startDate !== null) $('#startDate').val(startDate);

    //     var endDate = sessionStorage.getItem("end");
    //     if (endDate !== null) $('#endDate').val(endDate);

    //     var bodyPart = sessionStorage.getItem("body");
    //     if (bodyPart !== null) $('#bodyPart').val(bodyPart);


    // }




      $(document).ready(function(){
        //$('select').formSelect();
        $('select').material_select();
      });

    
    function saveFilter() {
        sessionStorage.setItem("rtg", $('#inputRtg').prop("checked"));
        sessionStorage.setItem("mri", $('#inputMri').prop("checked"));
        sessionStorage.setItem("other", $('#inputOther').prop("checked"));
        sessionStorage.setItem("start", $('#startDate').val());
        sessionStorage.setItem("end", $('#endDate').val());
        sessionStorage.setItem("body", $('#bodyPart').val());
    }
    window.onload = readFilter;
    function readFilter() {
        if(sessionStorage.getItem("rtg") == null) document.getElementById("inputRtg").checked = JSON.parse("false");
        else document.getElementById("inputRtg").checked = JSON.parse(sessionStorage.getItem("rtg"));
        if(sessionStorage.getItem("mri") == null) document.getElementById("inputMri").checked = JSON.parse("false");
        else document.getElementById("inputMri").checked = JSON.parse(sessionStorage.getItem("mri"));
        if(sessionStorage.getItem("other") == null) document.getElementById("inputOther").checked = JSON.parse("false");
        else document.getElementById("inputOther").checked = JSON.parse(sessionStorage.getItem("other"));
        if(sessionStorage.getItem("start") == "") sessionStorage.setItem("start", "");
        else document.getElementById("startDate").value = sessionStorage.getItem("start");
        if(sessionStorage.getItem("end") == "") sessionStorage.setItem("end", "");
        else document.getElementById("endDate").value = sessionStorage.getItem("end");
        if(sessionStorage.getItem("body") == "") sessionStorage.setItem("body", "");
        else document.getElementById("bodyPart").value = sessionStorage.getItem("body");

    }
</script>
{% endblock timeline %}